<ion-header style="background-color: #0cd1e8;">
  <ion-toolbar color="secondary">
    <ion-title style="background-color: #0cd1e8;">
      <span style="color:black">BroLife ARK</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="bitmoji">
      <div class="name" style="background-color: #00deee70;">
        <h1 style="font-size:30px;font-weight: 500;">Siddharth Mehta</h1>
        <p style="opacity: 0.7;">N021</p>
        <p style="opacity: 0.7;">70471018027</p>
      </div>
      <div class="image" style="margin-top: 40px;">
        <img src="../../assets/user.png" alt="">
      </div>
    </div>
    <div class="content">
      <div class="column" style="margin-top: 12vh;">
        <ion-card mode="ios" type="button" class="rect" (click)="navigate('/tabs/tab2')">
          <ion-card-header>Assignment Reminder</ion-card-header>
        </ion-card>
        <ion-card mode="ios" type="button" class="rect" href="http://localhost:5500">
          <ion-card-header>Record Lecture</ion-card-header>
        </ion-card>
        <ion-card mode="ios" type="button" class="rect">
          <ion-card-header>Article Finder</ion-card-header>
        </ion-card>
        <ion-card mode="ios" type="button" class="rect">
          <ion-card-header>Meet Now</ion-card-header>
        </ion-card>
        <ion-card mode="ios" type="button" class="rect">
          <ion-card-header>Meet Now</ion-card-header>
        </ion-card>
        <ion-card mode="ios" type="button" class="rect">
          <ion-card-header>Meet Now</ion-card-header>
        </ion-card>
      </div>
      <div class="column" style="display: flex; flex-direction: column; justify-content: flex-end;">
        <app-chatbox></app-chatbox>
      </div>
    </div>
  </div>
</ion-content>
