* {
  margin: 0;
}
.container {
  display: flex;
}

.content {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-left: 8px;
  flex-direction: row;
  justify-content: space-around;
  background-color: red;
}

.column {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.bitmoji {
  width: 25%;
  height: 100vh;
}

.rect {
  width: 69%;
  height: 15vh;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
  align-items: center;
  text-align: center;
}

.bitmoji {
  .name {
    height: 25vh;
    text-align: center;
    padding-top: 5vh;
  }
  .image {
    height: 75vh;
    img {
      height: 75vh;
      object-fit: cover;
    }
  }
}
