<ion-content>
  <div class="container">
    <div class="bitmoji">
      <div class="name">
        <h1>Siddharth</h1>
        <p>H1E5</p>
      </div>
      <div class="image">
        <img src="../../assets/user.png" alt="">
      </div>
    </div>
    <div class="content">
      <!-- <div class="row">
        <div class="square">
          <div class="square-content">
            <div class="square-content-text">
              <h1>Meet Now</h1>
              <p>Subtitle</p>
            </div>
          </div>
        </div>
        <div class="rect">
          <div class="square-content">
            <div class="square-content-text">
              <h1>Attendance Manager</h1>
              <p>Subtitle</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div (click)="navigate('assignment-reminder')" class="rect">
          <div class="square-content">
            <div class="square-content-text">
              <h1>Notes</h1>
              <p>Subtitle</p>
            </div>
          </div>
        </div>
        <div class="square">
          <div class="square-content">
            <div class="square-content-text">
              <h1>Recorder</h1>
              <p>Subtitle</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="square">
          <div class="square-content">
            <div class="square-content-text">
              <h1>Scan Chats</h1>
              <p>Subtitle</p>
            </div>
          </div>
        </div>
        <div class="rect">
          <div class="square-content">
            <div class="square-content-text">
              <h1>Assignment Assistant</h1>
              <p>Subtitle</p>
            </div>
          </div>
        </div>
      </div> -->
      <div class="column">
        <ion-card mode="ios" type="button" class="rect">
          <ion-card-header>Meet Now</ion-card-header>
        </ion-card>
        <ion-card mode="ios" type="button" class="rect">
          <ion-card-header>Meet Now</ion-card-header>
        </ion-card>
        <ion-card mode="ios" type="button" class="rect">
          <ion-card-header>Meet Now</ion-card-header>
        </ion-card>
        <ion-card mode="ios" type="button" class="rect">
          <ion-card-header>Meet Now</ion-card-header>
        </ion-card>
        <ion-card mode="ios" type="button" class="rect">
          <ion-card-header>Meet Now</ion-card-header>
        </ion-card>
        <ion-card mode="ios" type="button" class="rect">
          <ion-card-header>Meet Now</ion-card-header>
        </ion-card>
      </div>
      <div class="column">
        <app-chatbox></app-chatbox>
      </div>
    </div>
  </div>
</ion-content>
